./daemon
snippet/read
snippet/exception_handler.cc
snippet/of
snippet/ov
snippet/exec
.*.swp
*.a
*.o
filenametags
cscope.*
*.swo
benchmark/lockfreebenchmark
*/core.*
*/*.s
slog*.log
*/slog*
*/*/slog*
net/server
*/http_server
*/*/http_server
*/unittest/unittest
*/*/unittest/unittest
*/*.log
*/*/*.log
tags
